body {
  background-color: #e0e0e2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

li {
  display: inline;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

h1 {
  color: #721817;
}

h2 {
  color: #721817;
}

.center-text {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 > span {
  color: #fa9f42;
  font-size: 0.75em;
}

form > div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#copyright {
  padding-top: 12px;
  font-size: 0.75em;
}

input:invalid {
  color: red;
}

textarea {
  width: 60%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  resize: none;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
